*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main-header-container{
    padding: 1.8rem 5rem;
    background-color: #1F2937;
    height: 75vh;
}


.header-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.4rem;
}

.header-container .header-logo{
    flex: 1;
    color: #F9FAF8;
    font-size: 24px;
}



.header-container .header-nav ul{

    display: flex;
    gap: 1.4rem;
    list-style-type: none;
}

.header-container .header-nav ul li a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

/* Hero content */
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
}
.hero-image{
    height: 100%; 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    width: 35%;
}

.hero-container .hero-image img{
    width: 84%;
    height: 75%;
    object-fit: cover;
    border-radius: 0.8rem;
}

.hero-container .hero-content h3{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-container .hero-content p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

.hero-container .hero-content .btn{
    display: inline-block;
    background-color: #3882F6;
    text-decoration: none;
    border-radius: .5rem;
    padding: .5rem 1.2rem;
    color: #E5E7EB;
}

/* Random Information */
.main-content-container, .quote-section{
    padding: 1.8rem 15rem;
    height: 50vh;
    text-align: center;
}

.main-content-container .title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}

.main-content-container .info-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.8rem;
}

.card{
    width: 130px;
}

.main-content-container .card .box{
    border: 3px solid #3882F6;
    height: 150px;
    width: 100%;
    border-radius: .8rem;
    margin-bottom: 10px;
}

/* Quote */
.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    height: 55vh;
    margin-top: 5.6rem;
    padding: 15px 25px;
}

.quote-section .quote{
    width: 55%;
    color: #1F2937;
}

.quote-section .quote p{
    font-size: 36px;
    font-style: italic;
    text-align: left;
}

.quote-section .quote-author{
    font-weight: 900;
    text-align: right;
}

/* CAll to Action */
.call-to-action-container{
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action{
    display: flex;
    height: 35%;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: .8rem;
}

.call-to-action .content{
    width: 75%;
}


.call-to-action .btn{
    text-decoration: none;
    border: 2px solid #F9FAF8;
    padding: .4rem 1.4rem;
    color: #F9FAF8;
    border-radius: .3rem;
    font-weight: bold;
}


/* Footer */
.footer-container{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}